body{
    font-family: 'Paprika', cursive;
    margin: 0;
}
.half-width{
    width: 30%;
    float: left;
    margin-left: 150px;

}
.half-width img{
    width: 100%;
}
.first-section{
    background-image: url(images/header-bg.png);
    background-size: cover;
}
.name-highlight{
    color: cyan;
}
.link-button{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    padding:12px;
    color: white;
}
.second-section{
    background-image: url(images/biography-bg.png);
    background-size: cover;
}
.third-section{
    background-image: url(images/latest-work-bg.png);
    background-size: cover;
    margin-top: 50px;
}
.third-section h2{
    text-align: center;
}
.one-third-width{
    width:20%;
    float:left;
    margin-left: 150px;
    margin-top: 50px;
}
.one-third-width img{
    width: 100%;
}
.fourth-section{
    background-image: url(images/footer-bg.png);
    background-size: cover;
}
.fourth-section h1{
    margin-left: 500px;
    font-size: 50px;
}

.fourth-first-part{
    width:40%;
    margin-left: 700px;
}
.fourth-second-part{
    width:40%;
    margin-left: 500px;
}
.fourth-third-part{
    width:60%;
    margin-left: 350px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding:10px;
    border-radius: 5px;
    color: white;
}
.fourth-third-part p{
    margin-left: 300px;   
}
.fourth-third-part h2{
    margin-left: 200px;
    font-size: 35px;   
}
section{
    height: 600px;
}
footer{
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
}
